<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Picture</title>
</head>
<body>
<center>
    <h3>Edit Category Logo</h3><br><br>
    <form action="/editcategorylogo" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <input type="hidden" value="{{ data.0}}" name="categoryid">
    <img src="/static/{{data.1}}" width="150" height="150"><br><br>
    <input type="file" name="icon" required><br>
    <input type="submit">
    </form>
</center>

</body>
</html>